main{
	display: flex;
	flex-wrap: wrap;
}

section{
	margin: 5px;
	padding: 10px;
	background-color: #FDF9E7;
	border: 1px solid #E5DFBF;
	border-radius: 10px;
	flex-basis: 100%;
}
section h2{
	display: flex;
	margin: 0;
	justify-content: space-between;
}

section li{
	display: flex;
	min-height: 2em;
	padding:5px;
	line-height: 1.2em;
	border-top: 1px solid #E5DFBF;
	padding: 10px 0;
}

.vis-toggle{
	margin: 0 5px;
	font-size: .7em;
	align-self: center;
}

.show{display:none;}

.critical-info-label{
	font-size: 1.5em;
}
.critical-info{
	font-size: 2em;
	font-weight: bold;
}

@media only screen and (min-width: 768px){
	section{
		flex-basis: 45%;
	}

	h1{
		line-height: .25em;
	}

}