.btn{
    background-color: #1B3363;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 5px;
    align-self: center;
    min-width:  70px;
}

.btn:hover{
    background-color: #091D45;
}

.disabled .btn, .btn.disabled{
    border: none;
    background-color: transparent;
    color: #000;
}
.disabled .btn:hover, .btn.disabled:hover{
    background-color: transparent;
}