input, select, textarea {
	font-size: 16px;
	margin: 0 5px;
}
.hit-point-form{
	line-height: 2.25em;
	margin: 10px 0;
}
.hit-point-form input[type = 'text']{
	width: 245px;
	padding: 2px 5px 2px 2px;
}
.hit-point-form input[type = 'number']{
	width: 160px;
	padding: 2px 5px 2px 2px;
}
.full-hit-points {
	margin-bottom: 20px;
}
.hidden{
	display:none;
}
