.button-container{
	min-width: 100%;
	text-align: center;
	border: none;
	background-color: transparent;
	margin: 0 0 20px 0;
	padding: 0;
}

@media only screen and (min-width: 768px){
	.button-container{
		text-align: left;
	}
}